{
  "type": "external_account",
  "audience": "PROVIDER_HERE",
  "subject_token_type": "urn:ietf:params:oauth:token-type:jwt",
  "token_url": "https://sts.googleapis.com/v1/token",
  "service_account_impersonation_url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/SA_HERE:generateAccessToken",
  "credential_source": {
    "file": "/root/.gcloud/gcloud-jwt-token",
    "format": {
      "type": "text"
    }
  }
}

